JWT_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ADMIN_TEST=

API_GATEWAY_URL=
WEB_USER_URL=
WEB_ADMIN_URL=
WEB_USER_URL_DEV=
HOST=
PORT=

AUTH_URL=
USER_URL=
ITEM_URL=
DETU_URL=
PAY_URL=
ADMIN_URL=
SOCIAL_URL=
GAME_DATA_URL=

REDIS_URL=
NAME_SPACE_CACHE_KEY=

TITTLE_SWAGGER=
CONTENT_SWAGGER=
VERSION_SWAGGER=
ENDPOINT_SWAGGER=

HEADER_POST_PATCH=

JAEGER_PORT=
JAEGER_CONNECT_PORT=
JAEGER_CONNECT_HOST=

RABBIT_ADMIN_PORT=

REDISINSIGHT_PORT=

ROLES_KEY=

PHP_ADMIN_PORT=
ADMINER_PORT=

SERVER_DASHBOARD_URL=

MONGODB_URL=
MONGO_MANAGER_URL=

OPENAI_CLIENT=
OPENAI_API_KEY=
MODEL_AI_GPT=
TRAIN_AI_GPT=
MODEL_AI_GEMINI=
TRAIN_AI_GEMINI=
GEMINI_API_KEY=
LLM_PROVIDER=

PGADMIN_URL=

NGROK_URL=

RABBIT_SERVICE=
RABBIT_URL=
RABBIT_QUEUE=
RABBIT_GAME_SERVICE=
RABBIT_GAME_QUEUE=

DISCORD_CIRCUIT_BOT_WEBHOOK_URL=
DISCORD_GAME_EVENTS_BOT_WEBHOOK_URL=